.form {
  width: calc(100vw - 48px);
  padding: 12px;
  margin: 1rem auto;
  background: $bg-seconday-color;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &-input {
    width: 100%;
    height: fit-content;

    color: $secondary-color;
    font-size: 13px;
    border: none;
    cursor: pointer;

    &::placeholder {
      color: $primary-color;
      font-size: 13px;
    }

    &:focus {
      outline: none;
    }
  }

  &-error {
    color: #f74646;
    width: fit-content;
    display: none;
  }

  &-btn {
    display: block;
    background: $color-blue;
    border: none;
    font-size: 14px;
    color: $color-white;
    font-weight: 700;
    padding: 12.5px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
}
