.form {
  width: calc(100vw - 48px);
  padding: 12px;
  margin: 1rem auto;
  background: $bg-seconday-color;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &-input {
    width: 100%;
    height: fit-content;

    color: $secondary-color;
    font-size: 13px;
    border: none;
    cursor: pointer;

    &::placeholder {
      color: $primary-color;
      font-size: 13px;
    }

    &:focus {
      outline: none;
    }
  }

  &-error {
    color: #f74646;
    width: 150px;
    text-align: center;
    // visibility: hidden;
  }

  &-btn {
    display: block;
    background: $color-blue;
    border: none;
    font-size: 14px;
    color: $color-white;
    font-weight: 700;
    padding: 12.5px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
}

@include tablet {
  .form {
    width: calc(100vw - 6rem);
    margin-bottom: 2rem;

    img {
      padding: 0 1rem;
    }

    &-input {
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }

    &-btn {
      padding: 15px 25px;
      font-size: 16px;
    }
  }
}

@include dekstop {
  .form {
    width: calc(100vw - 12rem);
    max-width: 1600px;
  }
}
