@import 'color-theme';
@import 'config';
@import 'header';
@import 'search-form';
@import 'user';

body {
  background: $bg-primary-color;
  padding-bottom: 24px;
}

@include tablet {
  body {
    padding-bottom: 3rem;
  }
}
